/* You can add global styles to this file, and also import other style files */
@import '~ng-wizard/themes/ng_wizard.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.custom-slider .ngx-slider {
        
        width: 70% !important;
        
    }



.custom-slider .ngx-slider .ngx-slider-bar {
   
    width: 100%;
    height: 20px !important;
    z-index: 1;
    background: #d8e0f3;
    border-radius: 2px;

}

.custom-slider .ngx-slider .ngx-slider-pointer {
    cursor: pointer;
    width: 42px;
    height: 42px;
    top: -14px;
    background-color: #131414;
    z-index: 3;
    border-radius: 30px;
}

.custom-slider .ngx-slider .ngx-slider-pointer:after {
    
    display: none;
    
}

.custom-slider .ngx-slider .ngx-slider-bar-wrapper {
    left: 0;
    box-sizing: border-box;
    margin-top: -16px;
    padding-top: 16px;
    width: 100%;
    height: 32px;
    z-index: 1;
}


.btn-primary {
    color: #fff;
    background-color: #FC9BB3;
    border-color: #FC9BB3;
}
.btn-primary:focus {
    color: #fff;
    background-color: #FC9BB3;
    border-color: #FC9BB3;
    box-shadow: 0 0 0 0.25rem rgba(255, 85, 150, 0.5);
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: rgb(0, 0, 0);
    background-color: #FC9BB3;
    border-color: #FC9BB3;
}
.primary:active {
    color: #fff;
    background-color: #FC9BB3;
    border-color: #FC9BB3;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color:#ffdde6;
    border-color: #FC9BB3;
}
.primary:hover {
    color: #212529;
}
.btn-outline-primary {
    color: #585858;
    border-color: #FC9BB3;
}
/* Danger */
.btn-outline-danger {
    color: #000000;
    border-color: #FF4713;
}
.btn-danger {
    color: rgb(0, 0, 0);
    background-color: #FF4713;
}
.btn-check:active+.btn-outline-danger, .btn-check:checked+.btn-outline-danger, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show, .btn-outline-danger:active {
    color: rgb(0, 0, 0);
    background-color: #FF4713;
    }
.danger:active {
    color: #fff;
    background-color: #FF4713;
    border-color: #FF4713;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: hsla(13, 100%, 54%, 0.267);
    border-color: hsla(13, 100%, 54%, 0.267);
}
.btn:hover {
    color: #212529;
}

/* Warning */
.btn-warning {
    color: rgb(0, 0, 0);
    border-color: #FFCE00;
}
.btn-check:active+.btn-outline-warning, .btn-check:checked+.btn-outline-warning, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show, .btn-outline-warning:active {
    color: rgb(0, 0, 0);
    background-color: #FFCE00;
    border-color: #FFCE00;
}
.warning:active {
    color: #fff;
    background-color: #FFCE00;
    border-color: #FFCE00;
}
.btn-outline-warning:hover {
    color: #fff;
    background-color: #ffcc005e;
    border-color: #FFCE00;
}
.btn:hover {
    color: #212529;
}
.btn-outline-warning {
    color: #000000;
    border-color: #FFCE00;
}
/* Dark */
.btn-dark {
    color: rgb(247, 247, 247);
    border-color: #000000;
}
.btn-check:active+.btn-outline-dark, .btn-check:checked+.btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-color: #000000;
}
.dark:active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.btn-outline-dark:hover {
    color: rgb(87, 87, 87);
    background-color: #CFCFCF;
    border-color: #000000;
}
.btn-outline-dark {
    color: #000000;
    border-color: #000000;
}/* Primary */
.btn-primary {
    color: #fff;
    background-color: #FC9BB3;
    border-color: #FC9BB3;
}
.btn-primary:focus {
    color: #fff;
    background-color: #FC9BB3;
    border-color: #FC9BB3;
    box-shadow: 0 0 0 0.25rem rgba(255, 85, 150, 0.5);
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: rgb(0, 0, 0);
    background-color: #FC9BB3;
    border-color: #FC9BB3;
}
.primary:active {
    color: #fff;
    background-color: #FC9BB3;
    border-color: #FC9BB3;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color:#ffdde6;
    border-color: #FC9BB3;
}
.primary:hover {
    color: #212529;
}
.btn-outline-primary {
    color: #585858;
    border-color: #FC9BB3;
}
/* Danger */
.btn-outline-danger {
    color: #000000 !important;
    border-color: #FF4713;
    border-width: 3px;
    border-radius:0px;
}
.btn-danger {
    color: rgb(0, 0, 0);
    background-color: #FF4713;
}
.btn-check:active+.btn-outline-danger, .btn-check:checked+.btn-outline-danger, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show, .btn-outline-danger:active {
    color: rgb(0, 0, 0);
    background-color: #FF4713;
    }
.danger:active {
    color: #fff;
    background-color: #FF4713;
    border-color: #FF4713;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: hsla(13, 100%, 54%, 0.267);
    border-color: hsla(13, 100%, 54%, 0.267);
}
.btn:hover {
    color: #212529;
}
/* Warning */
.btn-warning {
    color: rgb(0, 0, 0);
    border-color: #FFCE00;
}
.btn-check:active+.btn-outline-warning, .btn-check:checked+.btn-outline-warning, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show, .btn-outline-warning:active {
    color: rgb(0, 0, 0);
    background-color: #FFCE00;
    border-color: #FFCE00;
}
.warning:active {
    color: #fff;
    background-color: #FFCE00;
    border-color: #FFCE00;
}
.btn-outline-warning:hover {
    color: #fff;
    background-color: #ffcc005e;
    border-color: #FFCE00;
}
.btn:hover {
    color: #212529;
}
.btn-outline-warning {
    color: #000000;
    border-color: #FFCE00;
}
/* Dark */
.btn-dark {
    color: rgb(247, 247, 247);
    border-color: #000000;
}
.btn-check:active+.btn-outline-dark, .btn-check:checked+.btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-color: #000000;
}
.dark:active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.btn-outline-dark:hover {
    color: rgb(87, 87, 87);
    background-color: #CFCFCF;
    border-color: #000000;
}
.btn-outline-dark {
    color: #000000;
    border-color: #000000;
}

solid-btn-primary */
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FC9BB3;
    border-color: #FC9BB3;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #FC9BB3;
    border-color: #FC9BB3;
    box-shadow: 0 0 0 0.25rem #fc9bb35b;
}
/* solid-btn-danger */
.btn-check:active+.btn-danger, .btn-check:checked+.btn-danger, .btn-danger.active, .btn-danger:active, .show>.btn-danger.dropdown-toggle {
    color: rgb(0, 0, 0);
    background-color: #FF4713;
    border-color: #FF4713;
}
.btn-check:focus+.btn-danger, .btn-danger:focus {
    color: rgb(0, 0, 0);
    background-color: #FF4713;
    border-color: #FF4713;
    box-shadow: 0 0 0 0.25rem #ff46133b;
}

.modal-xl .modal-lg {
    max-width: 90%;
    height:100%;
  }

  .ng-wizard-theme-circles 
  .ng-wizard-container{min-height:300px}
  .ng-wizard-theme-circles .step-content
  {padding:10px 0;
    background-color:#fff;
    text-align:left}
    .ng-wizard-theme-circles .ng-wizard-toolbar
    {background:#fff;
        padding-left:10px;
        padding-right:10px;
        margin-bottom:0!important}
        .ng-wizard-theme-circles .ng-wizard-toolbar-bottom
        {border-top-color:#ddd!important;
            border-bottom-color:#ddd!important}
        .ng-wizard-theme-circles>ul.step-anchor{position:relative;background:#fff;border:none;list-style:none;margin-bottom:40px}.ng-wizard-theme-circles>ul.step-anchor:before{content:" ";position:absolute;left:70px;top:5%;bottom:5%;width:10px;height:100%;background-color:#c43838;border-radius:3px;z-index:0;}.ng-wizard-theme-circles>ul.step-anchor>li{border:none;margin-left:40px;z-index:98; margin-bottom: 10%;}.ng-wizard-theme-circles>ul.step-anchor>li>a{border:2px solid #f5f5f5;background:#f5f5f5;width:75px;height:75px;text-align:center;padding:25px 0;border-radius:50%;-webkit-box-shadow:inset 0 0 0 3px #fff!important;box-shadow:inset 0 0 0 3px #fff!important;text-decoration:none;outline-style:none;z-index:99;color:#bbb;background:#f5f5f5;line-height:1}.ng-wizard-theme-circles>ul.step-anchor>li>a:hover{color:#bbb;background:#f5f5f5;border-width:2px}.ng-wizard-theme-circles>ul.step-anchor>li>a>small{position:relative;bottom:-40px;color:#ccc}.ng-wizard-theme-circles>ul.step-anchor>li.clickable>a:hover{color:#4285f4!important}.ng-wizard-theme-circles>ul.step-anchor>li.active>a{border-color:#5bc0de;color:#fff;background:#5bc0de}.ng-wizard-theme-circles>ul.step-anchor>li.active>a>small{color:#5bc0de}.ng-wizard-theme-circles>ul.step-anchor>li.done>a{border-color:#5cb85c;color:#fff;background:#5cb85c}.ng-wizard-theme-circles>ul.step-anchor>li.done>a>small{color:#5cb85c}.ng-wizard-theme-circles>ul.step-anchor>li.danger>a{border-color:#d9534f;color:#d9534f;background:#fff}.ng-wizard-theme-circles>ul.step-anchor>li.danger>a>small{color:#d9534f}.ng-wizard-theme-circles>ul.step-anchor>li.disabled>a,.ng-wizard-theme-circles>ul.step-anchor>li.disabled>a:hover{color:#eee!important}