<div class="modal-header header">
  <img class='logo' src="./assets/img/Logo-BlackRock.png" alt="">
  <button type="button" class="close" aria-label="Close" (click)="closeModal('dismiss')">
    <img class='close' src="./assets/img/close.png" alt="">
  </button>


</div>

<!-- <div class="modal-body contenedor-modal">
  <form class="form"
    [formGroup]="formLogin"
    (ngSubmit)="login()"
    >
    <div class="mb-3">
     

      <input 
        type="email" 
       
        id="exampleInputEmail1" 
        aria-describedby="emailHelp"
        formControlName="email" required>
        <label class="lbl-nombre">
          <span class='text-nomb'>Ingrese correo</span>
        </label>
    </div>

    <div class="mb-3">
      <input type="password" id="exampleInputPassword1" formControlName="password" placeholder="Ingrese contraseña" required>
    </div> -->

<div class="contenedor-modal"> 
  <form class="form">
    <div class="input-group">
      <input type="text" required>
      <label>Username</label>
    </div>
    
    <div class="input-group">
      <input type="password" required>
      <span></span>
      <label>Password</label>
    </div>

    <button type="submit" class="button-submit" (click)="login()" [disabled]="formLogin.invalid">Iniciar sesión</button>
  </form>


  <div class="modal-footer d-flex">
    <p>Para iniciar sesión primero debes realizar el</p><br>
    <a>Quiz</a>
  </div>
</div>
  
