<div class="banner">
  <img
    class="ms-5"
    src="https://www.blackrock.com/authplatform/assets/images/blackrock-logo-nav-white-990c18f15fbb94ab8a519fc2ac37fe43.png"
    alt=""
  />
  <img (click)="closeModal()" class="x mx-5" src="assets/img/xw.png" alt="" />
</div>

<div class="menuConcretulatioins">
  <div class="column w-50">
    <div class="column w-75">
      <h1 class="textCongratulacions text-orange">¡Felicidades!</h1>
      <span class="textCongratulacions h2 text-white">
        &lt;&nbsp;{{ name }}&nbsp;&gt;
      </span>
      <p class="textCongratulacions text-center text-white">
        Has dado un paso importante en tu camino de inversionista.
      </p>
      <div class="stars">
        <div class="showstar" [ngClass]="{ hidestar: animationR }"></div>
      </div>
      <p class="text-center textCongratulacions text-white">
        En este momento te encuentras en el nivel: <br />
        <span class="text-danger fs-3">{{ namelevel }}</span>
      </p>
      <span class="text-center textCongratulacions text-white text-wrap">
        {{ texts[levelgeded - 1] }}
      </span>
      <br />
      <p class="textCongratulacions text-center text-white">
        ¡Te deseamos éxito en este nuevo aprendizaje!
      </p>
    </div>
  </div>

  <div class="menuregister px-5 gap-3 w-50">
    <div class="mt-3 d-flex justify-content-center">
      <h3 class="textCongratulacions fs-2 text-center text-orange">
        Registrate ahora para visualizar el contenido de BlackRock
      </h3>
    </div>

    <div class="d-flex justify-content-center mx-3">
      <input
        class="w-100"
        name="email"
        type="text"
        placeholder="Email"
        [(ngModel)]="email"
      />
    </div>

    <div class="d-flex justify-content-center mx-3">
      <input
        class="w-100"
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
        (input)="checkPassword($event)"
      />
    </div>

    <div class="d-flex justify-content-center mx-3">
      <input
        class="w-100"
        type="password"
        placeholder="Repite la contraseña"
        [(ngModel)]="passwordConfirm"
        (input)="checkPassword($event)"
      />
    </div>

    <div class="d-flex justify-content-center">
      <p class="text-danger">{{ passwordmessage }}</p>
    </div>

    <!-- <div class="mx-3">
      <input
        class="w-100"
        name="age"
        type="text"
        placeholder="Edad"
        [(ngModel)]="age"
      />
    </div> -->

    <div class="d-flex justify-content-center mx-3">
      <input
        class="w-100"
        type="text"
        name="cp"
        (input)="ls($event)"
        placeholder="Codigo Postal"
      />
    </div>

    <!-- <div class="d-flex justify-content-center mx-3">
      <input class="w-100" type="text" placeholder="Estado" [value]="state" />
    </div>

    <div class="d-flex justify-content-center mx-3">
      <input class="w-100" type="text" placeholder="Ciudad" [value]="city" />
    </div> -->

    <div class="d-flex justify-content-center mx-3">
      <select name="study" id="study" [(ngModel)]="study">
        <option hidden selected>Estudios</option>
        <option value="Primaria">Primaria</option>
        <option value="Secundaria">Secundario</option>
        <option value="Bachillerato">Bachillerato</option>
        <option value="Profecional">Profecional</option>
        <option value="Maestria">Maestria</option>
      </select>
    </div>

    <div class="d-flex justify-content-center mx-3">
      <select name="job" id="job" [(ngModel)]="job">
        <option hidden selected>Ocupacion</option>
        <option value="Estudiante">Estudiante</option>
        <option value="Empleado">Empleado</option>
        <option value="Empresario">Empresario</option>
        <option value="Independiente">Independiente</option>
        <option value="Desocupado">Desocupado</option>
      </select>
    </div>

    <!-- <div class="d-flex justify-content-center mx-3">
      <select name="sex" id="sex" [(ngModel)]="sex">
        <option hidden selected>Sexo</option>
        <option value="male">Hombre</option>
        <option value="female">Mujer</option>
        <option value="Binary">Binario</option>
      </select>
    </div> -->

    <div class="mb-3 d-flex justify-content-center">
      <button class="btn btn_continue w-25" (click)="sendForm()">
        Continuar
      </button>
    </div>
  </div>
  <audio autoplay src="assets/audio/fan.mp3" type="audio/mp3">
    Your browser does not support the <code>audio</code> element.
  </audio>
</div>
