.menuregister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.menuConcretulatioins{
    display: flex;
    flex-direction: row;
}

.banner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    
}

.line{
    display: flex;
    flex-direction: row;
    width: auto;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
    

input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: black;
    border-width: 4px;
    font-weight: bold;
}

select{
    background-color: white;
    color: gray;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: black;
    border-width: 4px;
    font-weight: bold;
}

#dd{
    width: 80%;
}

.textCongratulacions{
    font-family: sans-serif;
    font-weight: bold;
}

.btn_continue{
    background-color: orangered;
    color: black;
    font-weight: bold;
    font-size: large;
}

.text-orange{
    color: orangered;
}



.stars{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background: url(src/assets/img/level/elf1.png);
}


.showstar{
    display: block;
    position: relative;
    transition-duration: 3s;
    top: -80%;
    width: 200%;
    height: 100%;
    transform: scale(.9);
    background: url(src/assets/img/level/starfall-gif-67.gif) repeat;
}

.hidestar{
    display: none;
    position: relative;
    transition-duration: 3s;
    top: -80%;
    width: 200%;
    height: 100%;
    transform: scale(.9);
    background: url(src/assets/img/level/starfall-gif-67.gif) repeat;
}

.x{
    max-width: 2vw;
}

.coloredit{
    background-color: yellow;
}