
.banner{
    display:flex;
    align-items: center;
    height: 100px;  
}

.level-group{
    display: flex;
    /* height: 400px; */
    background-color: black;
    align-items: center;
    justify-content: space-around;

    /* overflow: hidden; */
}

.img-size{
    width: 80%;
    transition-duration: .5s;
    border: white;
}

.img-size-course{
    height: 300px;
}

.img-size:hover{
    transform: scale(1.3);
}

.btn-level{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: black;
}

.minibanner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

.bg-black
{
    background-color: black;
}

.contentlevel{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

margin-top: 40px;
}

.contentleveltext{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.groupcurses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-course{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;

}

.text-card{
    color: white;
    border-bottom: 0;
}

.text-card-course{
    color: black;
    border-bottom: 0;
    
}

.levelcourses{
background-color: orangered;
}

.textCongratulacions{
    font-family: sans-serif;
    font-weight: bold;
}

.disabledbutton{
    pointer-events: fill;
    opacity: 0.4;
}

.ffs{
 scale: 1.3;
}

.text-orange{
    color: orangered;
}

.w-40{
    width: 40%;
}