<div class="d-flex justify-content-center mt-5">
    <form [formGroup]="formFilter" (ngSubmit)="filterAdmin()">
        <h5 class="mb-5 bg-dark p-4 text-white text-center">Busqueda de información</h5>
          <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                  <select class="register" id="inputGroupSelect01" formControlName="categoria">
                    <option hidden selected class="colorSelect">Categoria</option>
                    <option value="1">Edad</option>
                    <option value="2">Estado</option>
                    <option value="3">Genero</option>
                  </select>
                </div>
              </div> 

            <div class="col-md">
              <div class="form-floating">
                <input  class="form-control" id="floatingInputGrid" placeholder="Nombre" formControlName="subcategoria">
                <label for="floatingInputGrid">Subcategoria:</label>
              </div>
            </div>
            
           
           </div> 

           <div class="d-flex flex-column justify-content-center align-items-center"> 
            <button type="submit" class="btn btn-warning w-25 h-25" [disabled]="formFilter.invalid">Enviar</button>
          </div>
    </form>
 </div>


 <div>
   <!-- <p>{{item['city']}}</p> -->
   <table class="table">
    <thead>
      <tr>
        <th scope="col">Edad</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of data">
        <td>{{item['age']}}</td>
        <td>{{item['city']}}</td>
        <td>{{item['email']}}</td>
        <td>{{item['name']}}</td>
          
      </tr>
    </tbody>
  </table>  
   
 </div>
 